.footer {
  background: $primary-theme;
  color: invert($color: $primary-theme);
  padding: $primary-padding;
  font-family: "Jetbrains Mono", monospace, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $primary-padding;
  @media screen and (max-width: 1500px) {
    flex-direction: column;
    align-items: flex-start;
  }
  .corpa-code-logo {
    width: 8rem;
    aspect-ratio: 1 / 1;
  }
}